body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("https://github.com/stlefebvre/Basic-Portfolio/blob/master/assets/images/Background/spiration%20light/spiration-light.png?raw=true");
}

.Header {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 1px;
    /*width: 1024px;
    margin: 0 auto;*/
}

.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    display: block;
    width: 100%;
    max-width: 21%;
    padding: 5px;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
    bottom: 0%;
    left: 122px;
}

.NavBar {
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 122px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.NavBar a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    border-left: 1px;
    border-style: solid;
    border-left-color:  #efefef;
    padding-left: 15px;
}

#AboutNav {
    border-left: none;
    padding-right: 15px;
}

#PortfolioNav {
    padding-left: 15px;
    padding-right: 15px;
}

#ContactNav {
    padding-left: 15px;
}

.SubHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-bottom: 30px;
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 3px;
}

.AboutMe, .ContactMe, .box-set {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    line-height: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 35px;
    overflow: auto;
}

.ProfilePicture {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 220px;
    float: left;
    margin-right: 20px;
}

.ContactName, .ContactEmail {
    width: 100%;
}

.ContactMessage {
    width: 100%;
    height: 200px;
}

.SubmitButton {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 116px;
    height: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.Project1 {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #4aaaa5;
}

.ProjectPic {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 220px;
    max-height: 350px;
    display: flow;
    float: left;
    /*try to get top of picture to line up with top of body text*/
}

.ProjectLink {
    position: absolute;
    height: auto;
    width: 100%;
    max-width: 220px;
    max-height: 350px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin: 0;
    bottom: 10%;
}

.Project2 {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: auto;
    background-color: #4aaaa5;
    margin: 0 auto;
    float: left;
    left: 50px;
}

.Project3 {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #4aaaa5;
    top: 200px;
    left: -440px;
}

.Project4 {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: auto;
    background-color: #4aaaa5;
    margin: 0 auto;
    float: left;
    left: -390px;
    top: 200px;
}

.Project5 {
    position: relative;
    top: 230px;
    max-width: 220px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

/*push allows for space between main content and footer, forces side scroll bar, prevents overlapping with main content*/
.push {
    height: 50px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: #777777;
    border-top: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    text-align: center;
    font-size: 12px;
}

/*For screens of 768px width or less*/
@media screen and (max-width: 768px) {
    .Header {
        float: left;
        width: 100%;
    }
    
    .Name {
        float: left;
        width: 100%
    }

    .NavBar a {
        width: 100%;
    } 

    .AboutMe, .ContactMe, .box-set {
        border-style: solid;
        border-color: #dddddd;
        border-width: 1px;
        width: 580px;
        margin: 0 auto;
        background-color: #ffffff;
        line-height: 30px;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-top: 10px;
        margin-top: 35px;
        overflow: auto;
    }

    .ContactName, .ContactEmail {
        width: 580px;
    }
    
    .ContactMessage {
        width: 580px;
        height: 200px;
    }

    .Project1 {
        width: 220px;
        float: left;
        position: relative;
    }

    .Project2 {
        width: 220px;
        float: left;
        position: relative;
        top: 200px;
        left: -220px;
    }

    .Project3 {
        width: 220px;
        float: left;
        position: relative;
        top: 230px;
        left: 0px;
    }

    .Project4 {
        width: 220;
        float: left;
        position: relative;
        top: 420px;
        left: -220px;
    }

    .Project5 {
        width: 220;
        float: left;
        position: relative;
        top: 440px
    }
}


/*For screens of 640px width or less*/
@media screen and (max-width: 640px) {
    .Header {
        float: left;
        width: 100%;
    }
    
    .Name {
        float: left;
        width: 100%
    }

    .NavBar a {
        width: 100%;
    } 

    .AboutMe, .ContactMe, .box-set {
        border-style: solid;
        border-color: #dddddd;
        border-width: 1px;
        width: 500px;
        margin: 0 auto;
        background-color: #ffffff;
        line-height: 30px;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-top: 10px;
        margin-top: 35px;
        overflow: auto;
    }

    .ContactName, .ContactEmail {
        width: 500px;
    }
    
    .ContactMessage {
        width: 500px;
        height: 200px;
    }

    .Project1 {
        width: 220px;
        float: left;
        position: relative;
    }

    .Project2 {
        width: 220px;
        float: left;
        position: relative;
        top: 200px;
        left: -220px;
    }

    .Project3 {
        width: 220px;
        float: left;
        position: relative;
        top: 230px;
        left: 0px;
    }

    .Project4 {
        width: 220;
        float: left;
        position: relative;
        top: 420px;
        left: -220px;
    }

    .Project5 {
        width: 220;
        float: left;
        position: relative;
        top: 440px
    }
}